@model Supermarket.Web.Models.Product

<h2>Edit Product</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="ProductId" />

    <div class="mb-3">
        <label>Title</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Barcode</label>
        <input asp-for="Barcode" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Brand Supplier</label>
        <input asp-for="BrandSupplier" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Expiry Date</label>
        <input asp-for="ExpiryDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Category</label>
        <input asp-for="ProductCategory" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Quantity</label>
        <input asp-for="QuantityInStock" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Stock Status</label>
        <input asp-for="StockAvailabilityStatus" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Update Product
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancel
    </a>

</form>